In [2]:
import pandas as pd

daily_df = pd.read_csv("data/daily_report.csv")
totals_df = daily_df[["Confirmed","Deaths","Recovered"]].sum().reset_index(name="count")
totals_df = totals_df.rename(columns={'index':"condition"})
daily_df

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-11-30 04:22:53,33.939110,67.709953,157260,7308,NaN,NaN,Afghanistan,403.973033,4.647081
1,NaN,NaN,NaN,Albania,2021-11-30 04:22:53,41.153300,20.168300,199750,3092,NaN,NaN,Albania,6941.066092,1.547935
2,NaN,NaN,NaN,Algeria,2021-11-30 04:22:53,28.033900,1.659600,210344,6064,NaN,NaN,Algeria,479.678442,2.882897
3,NaN,NaN,NaN,Andorra,2021-11-30 04:22:53,42.506300,1.521800,16712,131,NaN,NaN,Andorra,21629.457063,0.783868
4,NaN,NaN,NaN,Angola,2021-11-30 04:22:53,-11.202700,17.873900,65155,1733,NaN,NaN,Angola,198.242770,2.659811
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4001,NaN,NaN,NaN,Vietnam,2021-11-30 04:22:53,14.058324,108.277199,1224110,25055,NaN,NaN,Vietnam,1257.579433,2.046793
4002,NaN,NaN,NaN,West Bank and Gaza,2021-11-30 04:22:53,31.952200,35.233200,460053,4796,NaN,NaN,West Bank and Gaza,9018.143198,1.042489
4003,NaN,NaN,NaN,Yemen,2021-11-30 04:22:53,15.552727,48.516388,9995,1949,NaN,NaN,Yemen,33.511067,19.499750
4004,NaN,NaN,NaN,Zambia,2021-11-30 04:22:53,-13.133897,27.849332,210150,3667,NaN,NaN,Zambia,1143.116313,1.744944
4005,NaN,NaN,NaN,Zimbabwe,2021-11-30 04:22:53,-19.015438,29.154857,134226,4706,NaN,NaN,Zimbabwe,903.092641,3.506027

In [37]:
daily_df = pd.read_csv("data/daily_report.csv")
daily_df = daily_df[["Country_Region","Confirmed","Deaths","Recovered"]]
daily_df = daily_df.groupby("Country_Region").sum().reset_index()

daily_df

         Country_Region  Confirmed  Deaths  Recovered
0           Afghanistan     157260    7308        0.0
1               Albania     199750    3092        0.0
2               Algeria     210344    6064        0.0
3               Andorra      16712     131        0.0
4                Angola      65155    1733        0.0
..                  ...        ...     ...        ...
191             Vietnam    1224110   25055        0.0
192  West Bank and Gaza     460053    4796        0.0
193               Yemen       9995    1949        0.0
194              Zambia     210150    3667        0.0
195            Zimbabwe     134226    4706        0.0

[196 rows x 4 columns]

In [14]:
daily_df = pd.read_csv("data/time_confirmed.csv")
df = daily_df.drop(["Province/State","Country/Region","Lat","Long"], axis =1).sum().reset_index(name="total")
df = df.rename(columns={'index':'date'})
df

         date      total
0     1/22/20        557
1     1/23/20        655
2     1/24/20        941
3     1/25/20       1434
4     1/26/20       2118
..        ...        ...
673  11/25/21  260063320
674  11/26/21  260660212
675  11/27/21  261073662
676  11/28/21  261504022
677  11/29/21  262181360

[678 rows x 2 columns]

In [32]:
daily_df = pd.read_csv("data/time_recovered.csv")
df = daily_df.drop(["Province/State","Country/Region","Lat","Long"], axis =1).sum().reset_index(name="total")
df = df.rename(columns={'index':'date'})
df

         date  total
0     1/22/20     30
1     1/23/20     32
2     1/24/20     39
3     1/25/20     42
4     1/26/20     56
..        ...    ...
673  11/25/21      0
674  11/26/21      0
675  11/27/21      0
676  11/28/21      0
677  11/29/21      0

[678 rows x 2 columns]

In [29]:
conditions = ["confirmed", "deaths", "recovered"]

def make_global_df(condition):
    df = pd.read_csv(f"data/time_{condition}.csv")
    df = daily_df.drop(["Province/State","Country/Region","Lat","Long"], axis =1).sum().reset_index(name=condition)
    df = df.rename(columns={'index':'date'})
    return df

final_df = None 

for condition in conditions: 
    condition_df = make_global_df(condition)
    if final_df is None:
        final_df = condition_df
    else:
        final_df = final_df.merge(condition_df)
        
final_df

         date  confirmed     deaths  recovered
0     1/22/20        557        557        557
1     1/23/20        655        655        655
2     1/24/20        941        941        941
3     1/25/20       1434       1434       1434
4     1/26/20       2118       2118       2118
..        ...        ...        ...        ...
673  11/25/21  260063320  260063320  260063320
674  11/26/21  260660212  260660212  260660212
675  11/27/21  261073662  261073662  261073662
676  11/28/21  261504022  261504022  261504022
677  11/29/21  262181360  262181360  262181360

[678 rows x 4 columns]

In [25]:
df = pd.read_csv("data/time_confirmed.csv")
df = df.loc[df["Country/Region"] == "Vietnam"]
df = df.drop(columns = ["Province/State","Country/Region", "Lat", "Long"]).sum().reset_index(name="confirmed")
df = df.rename(columns = {'index':"date"})
df

         date  confirmed
0     1/22/20          0
1     1/23/20          2
2     1/24/20          2
3     1/25/20          2
4     1/26/20          2
..        ...        ...
673  11/25/21    1168228
674  11/26/21    1181337
675  11/27/21    1197404
676  11/28/21    1210340
677  11/29/21    1224110

[678 rows x 2 columns]

In [36]:
conditions = ["confirmed", "deaths", "recovered"]

def make_country_df(country):
    def make_df(condition):
        df = pd.read_csv(f"data/time_{condition}.csv")
        df = df.loc[df["Country/Region"] == country]
        df = df.drop(columns = ["Province/State","Country/Region", "Lat", "Long"]).sum().reset_index(name=condition)
        df = df.rename(columns = {'index':"date"})
        return df

    final_df = None 

    for condition in conditions: 
        condition_df = make_df(condition)
        if final_df is None:
            final_df = condition_df
        else:
            final_df = final_df.merge(condition_df)
    return final_df  

df = make_country_df("Germany")
df

         date  confirmed  deaths  recovered
0     1/22/20          0       0          0
1     1/23/20          0       0          0
2     1/24/20          0       0          0
3     1/25/20          0       0          0
4     1/26/20          0       0          0
..        ...        ...     ...        ...
673  11/25/21    5670253  100480          0
674  11/26/21    5735837  100783          0
675  11/27/21    5780814  100887          0
676  11/28/21    5804139  100960          0
677  11/29/21    5854884  101350          0

[678 rows x 4 columns]

In [ ]:

def make_global_df():
    def make_df(condition)
        df = pd.read_csv(f"data/time_{condition}.csv")
        df = daily_df.drop(["Province/State", "Country/Region",
                           "Lat", "Long"], axis=1).sum().reset_index(name=condition)
        df = df.rename(columns={'index': 'date'})
        return df
    final_df = None
    for condition in conditions:
        condition_df = make_global_df(condition)
        if final_df is None:
            final_df = condition_df
        else:
            final_df = final_df.merge(condition_df)
    return final_df   

##